body {
    background-color: #072138;
  }
  
  h1 {
    color: aliceblue;
    font-family: monospace;
    text-align: center;
  }
  h2 {
    color: aliceblue;
    font-family: monospace;
    text-align: center;
  }
  h3 {
    color: aliceblue;
    font-family: monospace;
  }
  p {
    color: aliceblue;
    font-family: monospace;
    font-size: 20px;
  }
  li {
    color: aliceblue;
    font-family: monospace;
  }
  a {
    color: cornflowerblue;
    font-family: monospace;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  } 